<h1> This is the gift card report </h1>

<p> <%= flash[:notice] %> </p>
<p> You have registered <%= current_user.count_of_gift_cards %> gift cards. </p>

<p> Register a new <%= link_to "gift card", new_user_gift_card_path(current_user) %> </p>

<table border="1">

  <th>vendor</th>
  <th>card_value</th>
  <th>description</th>
  <th>email</th>
  <th>first_name</th>
  <th>last_name</th>

  <% @gift_cards.each do |g| %>
    <tr>
      <td><%= g.vendor %></td>
      <td><%= number_to_currency(g.card_value_in_dollars) %></td>
      <td><%= g.description %></td>
      <td><%= g.recipient_email %></td>
      <td><%= g.recipient_first_name %></td>
      <td><%= g.recipient_last_name %></td>
    </tr>
  <% end %>
</table>
